.purchases {
    display: flex;
    gap: 5px;
    padding: 5px;
    font-medium: bold;
    tracking-normal: normal;
    text-stone-300: #c9c9c9;
    color: #D2CBC1;
}
.purchases-title {
    flex-grow: 1;
    font-size: 1.5rem;
}
.purchases-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.purchase-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.purchase-checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.purchase-title {
    white-space: nowrap;
    color: #588527;
}
.purchase-format{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.purchase-checkbox {
    -webkit-appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 3px solid #D2CBC1;
    cursor: pointer;
    outline: none;
}

.purchase-checkbox:checked {
    background-color: #D2CBC1;
    content: '\2713';/* Kolor tła po zaznaczeniu */
}

@media (max-width: 900px) {
    .purchases {
        display: flex;
        flex-direction: column;
    }
    .purchases-list {
        display: flex;
        flex-direction: column;

    }
}