.purchases {
    display: flex;
    gap: 5px;
    padding: 5px;
    font-medium: bold;
    tracking-normal: normal;
    text-stone-300: #c9c9c9;
}
.purchases-title {
    flex-grow: 1;
    font-size: 1.5rem;
}
.purchases-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.purchase-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.purchase-checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.purchase-title {
    white-space: nowrap;
}

@media (max-width: 900px) {
    .purchases {
        display: flex;
        flex-direction: column;
    }
    .purchases-list {
        display: flex;
        flex-direction: column;

    }
}