.help-container {
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    position: fixed;
    left: 0;
    text-decoration: none ;
}
body{
    background-color: #0B0C0B;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0%;
    min-height: 100vh;
    overflow-y: auto;
}
.help-content{
    margin-top: 10vh;
    min-height: 80vh;
    flex-shrink: 0;
    font-family: 'Frank Ruhl Libre', serif;
    color: #D2CBC1;
    font-weight: 400;
    font-size:40px;
    text-align: center;
    box-shadow: 0 1px 1px #000000;
    width: calc(100vw - 30rem);
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 900px) {
    .help-content{
        width: 100vw;
    }
}