
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
/*srodek*/
main{
    margin-top: 10vh;
    min-height: 80vh;
}
#home-page.home-container {
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    position: fixed;
    left: 0;
    text-decoration: none ;
}
#root{
    height: 100vh;
}
body{
    background-color: #0B0C0B;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
    overflow-y: auto;
}
.description{
    text-align: center; 
    margin-top: 2%;
}
.description h3{
    color: #D2CBC1;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    font-size:40px;
}
.description p{
    font-family: 'Frank Ruhl Libre', serif;
    color: #D2CBC1;
    font-size:24px;
    font-weight: 200;
}
.catalog{
    font-family: 'Frank Ruhl Libre', serif;
    color: #D2CBC1;
    font-weight: 400;
    font-size:40px;
    text-align: center; 
    box-shadow: 0 1px 1px #000000;
    width: calc(100vw - 30rem);
    margin: 0 auto;
}
.news{
    display: flex;
    width: calc(100vw - 30rem);
    height: 32vh;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
}

/*stopka*/

@media (max-width: 900px) {

    body{
        width: calc(100vw - 1px);
    }
    .description{
        margin-top: 25%;
    }
    .description h3{
        color: #D2CBC1;
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 500;
        font-size:24px;
    }
    .description p{
        font-family: 'Frank Ruhl Libre', serif;
        color: #D2CBC1;
        font-size:20px;
        font-weight: 200;
    }
    .news{
        width: calc(100vw - 10px);
        height: 14rem;
    }
    li a {
        margin-left: 10px;
    }
    .images-container{
        display: none;
    }
    main{
        min-height: 0vh;
        margin-bottom: 0%;
        width: calc(100vw - 1px);
    }
    main >.catalog{
        width: 380px;
        height: 70px;
        font-size: 40px;
        margin-top: 30%;
    }
}
