@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');

/*naglowek*/
/*srodek*/
.toread-container{
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    overflow-y: auto;
}
.main-toread{
    margin-top: 10vh;
    min-height: 80vh;
    flex-shrink: 0;
}
body{
    background-color: #0B0C0B;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
    overflow-y: auto;
}
.toRead{
    font-family: 'Frank Ruhl Libre', serif;
    color: #D2CBC1;
    font-weight: 400;
    font-size:40px;
    text-align: center; 
    box-shadow: 0 1px 1px #000000;
    width: calc(100vw - 30rem);
    margin: 0 auto;
}

.news-toread{
    display: flex;
    width: calc(100vw - 30rem);
    height: auto;
    overflow-y: auto; 
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
.toRead-link{
    text-decoration: none !important;
}
/*stopka*/
@media (max-width: 900px) {

    body{
        width: 100vw;
    }
   .main-toread{
        height: auto;
        margin-bottom: calc(10vh + 10px);
        margin-top: 5vh;
        width: calc(100vw - 1px);
    }
    .toRead{
        width: 100%;
        margin: 0;
    }
    .news-toread{
        width: calc(100vw - 1px);
        min-height: calc(100% + 1px);
        margin-bottom: 10vh;
        flex-shrink: 0;
    }
  
}
